* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  width: 26rem;
  align-self: center;
  padding: 2rem;
  border-radius: 1.5rem;
  background: rgba(37, 45, 55, 1);
  background: radial-gradient(at center top, rgba(37, 47, 55, 0.247), rgb(37, 45, 55));
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card > div:first-of-type {
  display: flex;
  justify-content: center;
  width: 3.125rem;
  border-radius: 100%;
  padding: 1rem 1rem;
  background: rgba(37, 45, 55, 0.685);
  filter: brightness(120%) grayscale(30%);
}

h1,
h2 {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

p {
  line-height: 1.5;
}

p,
.rate {
  color: hsl(217, 12%, 63%);
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

.rate {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.ratescore {
  padding: 1rem;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  background: rgba(37, 45, 55, 0.685);
  filter: brightness(120%) grayscale(20%);
  letter-spacing: 0;
  border: 0;
  color: white;
}

.ratescore:hover {
  cursor: pointer;
  filter: brightness(500%) grayscale(70%);
}

.selected {
  border: 1px solid hsl(25, 97%, 53%);
  background: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
  filter: brightness(120%);
}

.inputColor {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  background: hsl(25, 97%, 53%);
  border: hsl(25, 97%, 53%);
  text-transform: uppercase;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.card > input:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.inputColor:active {
  background: white;
  border: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thankyou {
  width: 26rem;
  align-self: center;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background: #262f37e6;
  background: radial-gradient(at center top, rgba(37, 47, 55, 0.247), rgb(37, 45, 55));
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.thankyou div:first-of-type {
  background: rgba(37, 45, 55, 0.685);
  filter: brightness(120%) grayscale(20%);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.thankyou div:first-of-type > p {
  color: hsl(25, 97%, 53%);
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  filter: brightness(80%) grayscale(0%);
}

.thankyou p:last-of-type {
  text-align: center;
}

.thx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vermelho {
  color: red;
}

.azul {
  color: blue;
}

@media screen and (max-width: 425px) {
  body {
    padding: 1rem;
  }
  .card,
  .thankyou {
    width: 100%;
    padding: 0.9rem;
  }
}
